<configuration>
    <springProfile name="local">

        <property name="LOG_PATH" value="log_data"/>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - call_signature: %X{callSignature} - return_value: %X{returnValue} - user_id: %X{userId} - correlation_id: %X{correlationId} - %msg%n
                </pattern>
            </encoder>
        </appender>
        <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/log.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - call_signature: %X{callSignature} - return_value: %X{returnValue} - user_id: %X{userId} - correlation_id: %X{correlationId} - %msg%n
                </Pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/archived/log_%d{dd-MM-yyyy}.log</fileNamePattern>
                <maxHistory>10</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="SAVE-TO-FILE" />
        </root>
    </springProfile>
    <springProfile name="development">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - call_signature: %X{callSignature} - return_value: %X{returnValue} - user_id: %X{userId} - correlation_id: %X{correlationId} - %msg%n
                </pattern>
            </encoder>
        </appender>
        <appender name="asyncLogStash"
                  class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
            <appender name="stash" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
                <destination>logstash:5000</destination>
                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <pattern>
                            <pattern>
                                {
                                "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                                "level": "%-5level",
                                "correlation_id": "%X{correlationId}",
                                "user_id": "%X{userId}",
                                "service": "propeler-backend",
                                "call_signature": "%X{callSignature}",
                                "logger": "%logger{36}",
                                "thread": "%thread",
                                "message": "%msg",
                                "return_value": "%X{returnValue}",
                                "http_header": "%X{httpHeaders}"
                                }
                            </pattern>
                        </pattern>
                    </providers>
                </encoder>
            </appender>
            <appender-ref ref="STDOUT"/>
        </appender>
        <root level="info">
            <appender-ref ref="asyncLogStash"/>
        </root>
    </springProfile>
</configuration>
