<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:replace="style/fonts :: style_fonts"></style>
    <style th:replace="style/css :: style_css"></style>
    <style>
        /* Here are style definitions for layout. For style and fonts, look in files style/css.html and
        ** style/fonts.html */
    </style>
</head>
<body>
<div class="WordSection1">

    <p class="MsoTitle"><span lang="EN-US"><span th:text="Propeler"></span></span></p>

    <p class="MsoSubtitle">Equity Crowdfunding Platform</p>

    <br/>

    <br/>

    <table class="MsoTableGrid" border="0" cellspacing="0" cellpadding="0"
           style='width:100%;border-collapse:collapse;border:none'>
        <tr>
            <td width="50%" valign="top" style='width:225.4pt;padding:0in 5.4pt 0in 5.4pt'>
                <h2><span lang="EN-US" th:if="${isProforma != null}">Pro-Forma</span><span lang="EN-US"
                                                                                           th:if="${isProforma == null}">Invoice</span>
                </h2>
            </td>
            <td width="50%" valign="top" style='width:225.4pt;padding:0in 5.4pt 0in 5.4pt'>
                <h2 align="right" style='text-align:right'><span lang="EN-US"><span
                        th:text="${invoiceId}"></span></span></h2>
            </td>
        </tr>
    </table>

    <hr/>

</div>

<div class="WordSection2">
    <table style="width:100%">
        <tr>
            <td valign="top" width="60%">

                <p class="MsoNormal"><span lang="EN-US">Seller:</span></p>

                <p class="MsoNormal"><b><span lang="EN-US"><span th:text="${seller.company.name}"></span></span></b></p>

                <p class="MsoNormal"><b><span lang="EN-US"><span th:text="${seller.address}"></span></span></b></p>

                <p class="MsoNormal"><b><span lang="EN-US"><span th:text="${seller.postalNo}"></span> <span
                        th:text="${seller.city}"></span></span></b></p>

                <p class="MsoNormal"><b><span lang="EN-US"><span th:text="${seller.country}"></span></span></b></p>

                <p></p>

            </td>
            <td valign="top" width="40%">

                <p class="MsoNormal"><span lang="EN-US">Buyer:</span></p>

                <p class="MsoNormal" id="cirilica"><b><span lang="EN-US"><span
                        th:utext="${buyer.name}"></span></span></b></p>

                <p class="MsoNormal"><b><span lang="EN-US"><span th:text="${buyer.address}"></span></span></b></p>

                <p class="MsoNormal"><b><span lang="EN-US"><span th:text="${buyer.postalNo}"></span> <span
                        th:text="${buyer.city}"></span></span></b></p>

                <p class="MsoNormal"><b><span lang="EN-US"><span th:text="${buyer.country}"></span></span></b></p>

                <p></p>

            </td>
        </tr>
        <tr>
            <td valign="top">

                <p class="MsoNormal"><b><span lang="EN-US">VAT Number:</span></b><span
                        lang="EN-US"> <span th:text="${seller.VATNo}"></span></span>
                </p>

                <p class="MsoNormal"><b><span lang="EN-US">Bank:</span></b><span lang="EN-US"> <span
                        th:text="${seller.bankName}"></span></span>
                </p>

                <p class="MsoNormal"><b><span lang="EN-US">Bank Account No.:</span></b><span
                        lang="EN-US"> <span th:text="${seller.bankAccountNo}"></span></span></p>

                <p class="MsoNormal"><b><span lang="EN-US">IBAN:</span></b><span lang="EN-US"> <span
                        th:text="${seller.IBAN}"></span></span></p>

                <p class="MsoNormal"><b><span lang="EN-US">SWIFT code:</span></b><span lang="EN-US">
                    <span th:text="${seller.SWIFTCode}"></span></span></p>

            </td>
            <td valign="top">

                <p th:if="${buyer.isCompany}" class="MsoNormal"><b><span lang="EN-US">VAT Number:</span></b><span
                        lang="EN-US"> <span th:text="${buyer.VATNo}"></span></span>
                </p>

            </td>
        </tr>
    </table>

</div>

<div class="WordSection3">

    <hr/>

    <br/>

    <p class="MsoNormal"><b><span lang="EN-US">Issue Date:</span></b><span lang="EN-US">
    <span th:text="${issueDate}"></span></span></p>

    <p class="MsoNormal" th:if="${paymentMethod == 'Bank Transfer'}"><b><span
            lang="EN-US">Expiry/Due Date:</span></b><span
            lang="EN-US"> <span th:text="${dueDate}"></span></span></p>

    <p class="MsoNormal"><b><span lang="EN-US">Payment Method:</span></b><span
            lang="EN-US"> <span th:text="${paymentMethod}"></span></span></p>

    <p class="MsoNormal"><span lang="EN-US"> </span></p>

    <br/>

    <br/>

    <table class="MsoTable15Plain2" border="1" cellspacing="0" cellpadding="0"
           style='width:100%;border-collapse:collapse;border:none'>
        <tr>
            <td width="20%" valign="top" style='width:90.15pt;border-top:solid black 2.25pt;
      border-left:none;border-bottom:solid black 1.0pt;border-right:none;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal"><b><span lang="EN-US">Description</span></b></p>
            </td>
            <td width="20%" valign="top" style='width:90.15pt;border-top:solid black 2.25pt;
      border-left:none;border-bottom:solid black 1.0pt;border-right:none;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal"><b><span lang="EN-US">Quantity</span></b></p>
            </td>
            <td width="20%" valign="top" style='width:90.15pt;border-top:solid black 2.25pt;
      border-left:none;border-bottom:solid black 1.0pt;border-right:none;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal"><b><span lang="EN-US">Net Price</span></b></p>
            </td>
            <td width="20%" valign="top" style='width:90.15pt;border-top:solid black 2.25pt;
      border-left:none;border-bottom:solid black 1.0pt;border-right:none;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal"><b><span lang="EN-US">VAT</span></b></p>
            </td>
            <td width="20%" style='width:90.2pt;border-top:solid black 2.25pt;border-left:
      none;border-bottom:solid black 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal" align="right" style='text-align:right'><b><span lang="EN-US">Total</span></b></p>
            </td>
        </tr>
        <tr>
            <td style='width:90.15pt;border:none;border-bottom:solid black 2.25pt;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal"><span lang="EN-US">Start-up Equity bought
                    <!--span th:text="${itemDescription}"></span--></span></p>
            </td>
            <td style='width:90.15pt;border:none;border-bottom:solid black 2.25pt;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal"><span lang="EN-US"><span th:text="${itemQuantity}+'%'"></span></span></p>
            </td>
            <td style='width:90.15pt;border:none;border-bottom:solid black 2.25pt;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal"><span lang="EN-US"><span th:text="${itemNetPrice}"></span> <span
                        th:text="${currency}"></span></span></p>
            </td>
            <td style='width:90.15pt;border:none;border-bottom:solid black 2.25pt;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal"><span lang="EN-US"><span th:text="${itemVAT}"></span> <span
                        th:text="${currency}"></span></span></p>
            </td>
            <td style='width:90.2pt;border:none;border-bottom:solid black 2.25pt;
      padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal" align="right" style='text-align:right'><span lang="EN-US"><span
                        th:text="${itemTotal}"></span>
      <span th:text="${currency}"></span></span></p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="5" style='width:450.8pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class="MsoNormal" align="right" style='text-align:right'><b><span lang="EN-US">Total:
      <span th:text="${fullTotal}"></span> <span th:text="${currency}"></span></span></b></p>
            </td>
        </tr>
    </table>

    <br/>
    <br/>
    <br/>

    <div th:if="${ps != null}">
        <th:block th:each="onePS : ${ps}">
            <p class="MsoNormal"><b><span lang="EN-US"><span
                    th:text="${onePS.shortNameDesc}"></span></span></b><span
                    lang="EN-US"> <span th:text="${onePS.longNameDesc}"></span></span></p>
        </th:block>
    </div>

</div>
</body>
</html>